/* Nav Partial */

.nav-bar {
    position: fixed;
    top: 0;
    z-index: 10;
    background: $clr-black;
    width: 100%;
    height: 55px;
    

    .nav-container {
        display: flex;
        justify-content: space-between;
    }

    .nav-list {
        display: none;

        ul {
            display: flex;
        }

        a {
            @include fontSize(20);
            margin-left: 5rem;
            cursor: pointer;
            color: $clr-white;

            &:hover {
                color: $clr-orange;
            }
        }
    }

    .logo {
        background: $clr-orange;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        margin: 0.5rem 0 0.5rem 0;

        p {
            @include fontSize(30);
            @include lineHeight(35);
            text-align: center;
            color: $clr-black
        }
    }

    input[type=checkbox] {
        opacity: 0;
        position: absolute;
        right: 0;

        &:checked ~ .slideout-nav {
            right: 0;
            transition: 0.5s;
        }

        &:focus + label {
            border: 1px dotted primary;
        }
    }

    label {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 15px;
        margin: 0.5rem 0 0.5rem 0; 
    }

    i {
        @include fontSize(35);
        &:hover {
            color: $clr-orange;
        }
    }

    .slideout-nav {
        //padding: 1rem;
        width: 100%;
        max-width: 250px;
        height: 100vh;
        background-color: $clr-orange;
        color: $clr-black;
        position: fixed;
        top: 0;
        right: -250px;
        z-index: 20;
        display: flex;
        flex-direction: column;
        transition: 0.4s;

        .toggle-btn-container {
            display: flex;
            justify-content: flex-start;
            margin: 0.4rem 0 2rem 0;

            button {
                color: $clr-black;
                background-color: transparent;
                @include fontSize(35);
                border: none;
                cursor: pointer;
                margin-left: 1rem;
                padding: 0;

                &:hover,
                &:focus {
                    color: $clr-white;
                }
            }

            i {
                @include fontSize(35);
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

        }

        li, a {
            @include fontSize(20);
            color: $clr-black; 
            font-weight: $fw-bold;   
            margin: 1rem; 
            cursor: pointer;
            
            &:hover,
            &:focus {
                color: $clr-white;
            }
        }
    }

}
//}