/* Section Partial */

//====================
/* Landing Page */
//====================

.what-is-it {
	height: 100vh;
	padding-top: 3rem;

	.image-container {
		height: 40vh;
		margin: 0 0 1.5rem 0;
		margin: 0 auto;
	}

	img {
		object-fit: cover;
	}

	h3 {
		margin: 1.5rem 0rem 1.5rem 0rem;
		text-align: center;
	}

	p {
		margin: 1.5rem auto;
		max-width: 1000px;
		text-align: center;
	}

	a {
        @include fontSize(100);
		display: inline-block;
		text-align: center;
		width: 100%;
		color: $clr-orange;
		text-shadow: 0 5px 0 $clr-white;

        &:active {
            text-shadow: 0 2px 0 $clr-white;
            padding-top: 1px;
        }

        &:hover,
        &:focus {
            opacity: 0.8;
        }
        
	}
}

.how-it-works {
	height: 100vh;
	padding-top: 3rem;

	.image-container {
		height: 10vh;
		margin: 0 0 1.5rem 0;

		img {
			object-fit: cover;
		}
	}

	h3 {
		text-align: center;
	}

	p {
		@include fontSize(20);
		margin: 1rem 0 1rem 0;
		text-align: center;
	}

	li {
		margin: 0 0 1rem 0;
		text-align: center;
	}

	a {
		display: inline-block;
		text-align: center;
		width: 100%;
		@include fontSize(100);
		color: $clr-orange;
		text-shadow: 0 5px 0 $clr-white;

        &:active {
            text-shadow: 0 2px 0 $clr-white;
            padding-top: 1px;
        }

        &:hover,
        &:focus {
            opacity: 0.8;
        }
	}
}

.how-its-expressed {
	height: 100vh;
	padding-top: 3rem;

	.image-container {
		height: 10vh;
		margin: 0 0 1.5rem 0;

		img {
			object-fit: cover;
		}
	}

	h3 {
		text-align: center;
	}

	li {
		@include fontSize(36);
		font-weight: $fw-bold;
		margin: 1.5rem 0 1.5rem 0;
		text-align: center;
	}

	a {
		display: inline-block;
		text-align: center;
		width: 100%;
		@include fontSize(100);
		color: $clr-orange;
		text-shadow: 0 5px 0 $clr-white;

        &:active {
            text-shadow: 0 2px 0 $clr-white;
            padding-top: 1px;
        }

        &:hover,
        &:focus {
            opacity: 0.8;
        }
	}
}

.additional-factors {
	height: 100vh;
	padding-top: 3rem;

	.image-container {
		height: 10vh;
		margin: 0 0 1.5rem 0;

		img {
			object-fit: cover;
		}
	}

	h3 {
		text-align: center;
	}

	li {
		@include fontSize(36);
		font-weight: $fw-bold;
		margin: 1.5rem 0 1.5rem 0;
		text-align: center;
	}

	.link-container {
		width: 100%;
		text-align: center;
	}

	a {
		@include lineHeight(40);
		display: inline-block;
		margin: 0 auto;
		box-shadow: 0 5px 0 $clr-white;
		border-radius: 50px;
		width: 180px;
		height: 42px;
		background: $clr-orange;
		cursor: pointer;
		font-weight: $fw-bold;
		text-align: center;
		text-decoration: none;
		color: $clr-black;

        &:active {
            box-shadow: 0 2px 0 $clr-white;
            padding-top: 1px;
        }

        &:hover,
        &:focus {
            opacity: 0.8;
        }
	}
}

//====================
/* Form Page */
//====================

.preferences {
	height: 70vh;

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.articles-dropdown-container {
		position: relative;
		width: 100%;
		max-width: 800px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 4rem 0 4rem 0;
	}

	select {
		@include fontSize(20);
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		background: $clr-white;
		color: $clr-black;
		font-family: $ff-primary;
		font-weight: $fw-bold;
		height: 50px;
		border-radius: 15px;
		box-shadow: 0 5px 0 $clr-orange;
		margin: 0 0 0 0;
		padding: 0 0 0 0.5rem;
		width: 100%;
	}

	i {
		@include fontSize(40);
		color: $clr-black;
		position: absolute;
		right: 15px;
		top: 3px;
		pointer-events: none;
	}

	input {
		border: none;
		@include lineHeight(40);
		margin: 0 auto;
		box-shadow: 0 5px 0 $clr-white;
		border-radius: 50px;
		width: 180px;
		height: 42px;
		background: $clr-orange;
		cursor: pointer;
		font-weight: $fw-bold;
		text-align: center;
		text-decoration: none;
		color: $clr-black;

        &:active {
            box-shadow: 0 2px 0 $clr-white;
            padding-top: 1px;
        }

        &:hover,
        &:focus {
            opacity: 0.8;
        }
	}
}

.results {
	scroll-margin-top: 3rem;
	margin-bottom: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;

	h2 {
		@include fontSize(32);
		font-weight: $fw-bold;
		margin-bottom: 1rem;
        text-decoration: underline;
	}

	.story-container {
		margin-bottom: 2rem;
	}

	.article-title-container {
		background: $clr-white;
		border-radius: 10px;
		margin: 0.5rem 0 0 0;
		min-height: 50px;
		height: auto;
		display: flex;
		align-items: center;
	}

	h3 {
		@include fontSize(16);
		@include lineHeight(20);
		margin: 0 0 0 0;
		display: inline-block;
		color: $clr-black;
		padding: 0 0.5rem 0 0.5rem;
	}

	.sentiment-container {
		border: 1px solid $clr-white;
		border-radius: 10px;
		margin: 0.5rem 0 0.5rem 0;
	}

	h4 {
		margin: 0.5rem 0.25rem 0.5rem 0.25rem;
	}

	.img-list-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	img {
		width: 95%;
		margin: auto;
	}

	ul {
		display: flex;
		flex-direction: column;
		//height: 100%;
	}

	li {
		font-weight: $fw-bold;
		margin: 0.5rem 0 0.5rem 0;
		text-align: center;
	}

	ul li:last-child {
		a {
			color: $clr-white;
			text-decoration: underline;
			text-align: center;

			&:visited {
				color: $clr-white;
			}
		}

		i {
			color: $clr-orange;
			margin-left: 0.5rem;
			position: relative;
			top: 3px;
		}
	}

	i {
		@include fontSize(24);
		margin-right: 0.5rem;
	}

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        
    }

    button {
        border: none;
        @include lineHeight(40);
        margin: 1rem auto;
        box-shadow: 0 5px 0 $clr-white;
        border-radius: 50px;
        width: 230px;
        height: 42px;
        background: $clr-orange;
        cursor: pointer;
        font-weight: $fw-bold;
        text-align: center;
        text-decoration: none;
        color: $clr-black;

        &:active {
            box-shadow: 0 2px 0 $clr-white;
            padding-top: 1px;
        }

        &:hover,
        &:focus {
            opacity: 0.8;
        }
    }
}
