/* Variables Partial */

// Site Colours
$clr-black: #000;
$clr-white: #fff;
$clr-orange: #F60;

// font-family
$ff-primary: 'Inter', sans-serif;

// font-weight
$fw-bold: 700;
$fw-regular: 400;
$fw-light: 300;



